/*=============== SWIPER ===============*/
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}
.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  top: initial;
  bottom: 1rem;
  padding: 6px;
  background-color: var(--container-color);
  border: 1.5px solid var(--title-color);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.dark-theme .swiper-button-prev,
.dark-theme .swiper-button-next {
  border: 1.5px solid var(--border-color);
}
.swiper-button-prev {
  left: 2rem;
}
.swiper-button-next {
  right: 2rem;
}
.swiper-pagination-bullet {
  background-color: var(--primary-color-light);
}
.swiper-pagination-bullet-active {
  width: 20px;
  height: 5px;
  border-radius: 0.1rem;
  background-color: var(--primary-color);
}

/*=============== HEAD ===============*/
.head {
  position: relative;
  background-image: url("../images/head/head\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.head::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5)
  );
}

.head__container {
  padding: 3rem 0;
}
.head__card {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  justify-items: center;
}
.head__img {
  width: 300px;
  height: 300px;
  border-radius: 1rem;
  padding: 0.25rem;
  background-color: var(--container-color);
  transition: 0.3s ease-in-out;
}
.head__img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.head__data {
  text-align: center;
}
.head__title {
  color: #fff;
  text-transform: uppercase;
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}
.head__name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-normal);
}
.head__price {
  font-size: var(--small-font-size);
  font-weight: var(--font-normal);
  margin-bottom: 0.5rem;
}
.head__name,
.head__price {
  color: var(--primary-color-lighten);
}
.head__button {
  width: max-content;
  padding: 0.5rem 0.75rem;
  color: var(--text-color-light);
  border: 1px solid var(--text-color-light);
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.head__button:hover {
  color: var(--primary-color-light);
  background-color: var(--text-color-light);
}

/*=============== MUSICS ===============*/
.filter__option {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
}
.filter__option.active {
  background-color: var(--container-color);
}

/*=============== RESPONSIVE STYLE ===============*/
@media screen and (max-width: 350px) {
  .head__img {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .head__img {
    width: 100%;
    height: 250px;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 769px) {
  .head__card {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0;
    column-gap: 3rem;
    align-items: center;
    margin-bottom: 2rem;
  }
  .head__img {
    width: 350px;
    height: 350px;
  }
}

@media screen and (min-width: 800px) {
}

@media screen and (min-width: 1040px) {
  .head__img {
    width: 400px;
    height: 400px;
  }
}

@media screen and (min-width: 2048px) {
}

@media screen and (min-width: 3840px) {
}
